<div th:fragment="footer">
  <div class="row border-top ">
    <div class="col-12 col-md mt-4">

      <small class="d-block mb-3 text-body-secondary">© 2023</small>
    </div>
    <div class="col-6 col-md mt-4">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Random feature</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team feature</a></li>
      </ul>
    </div>
    <div class="col-6 col-md mt-4">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource name</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another resource</a></li>
      </ul>
    </div>
    <div class="col-6 col-md mt-4">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Locations</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
      </ul>
    </div>
  </div>
</div>